<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="StreamControl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <StreamControl.Properties.Settings>
            <setting name="ProgramTitle" serializeAs="String">
                <value>FEG Streamsteuerung</value>
            </setting>
            <setting name="LowerthirdsHeader" serializeAs="String">
                <value>Bauchbinden</value>
            </setting>
            <setting name="StreamsHeader" serializeAs="String">
                <value>Streams</value>
            </setting>
        </StreamControl.Properties.Settings>
    </applicationSettings>
</configuration>